:host {
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-top-bar {
  height: 5vh;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

app-sidebar {
  width: 16%;
}

.content-area {
  flex: 1;
  overflow-y: auto;
}